*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 1.125rem "Lato", sans-serif;
  background-color: var(--clr3);
  line-height: 1.2;
  color: var(--clr2);
  overflow-x: hidden;
}

:root {
  /* boje */
  --clr-primary: #38d2d2;
  --clr-secondary: #50cd9a;
  --clr-third: #c2a84d;
  --clr-fourth: #be6c48;
  --clr-fifth: #b55257;
  --colorH: #2f2f2f;
  --colorL: #20926c;
  --colorF: #ff0000;
  --clr1: #2f755a;
  --clr2: #c5c6a5;
  --clr3: #ae8f66;
  --sirinaBordera: 2px;
  --stilBordera: solid;
  --size: 8px;
  --half-size: calc(var(--size) / 2);
}

/*! MAP/PICUTRE/UTM */
/*? MAP/PICUTRE/UTM */
/** MAP/PICUTRE/UTM */
.image {
  max-width: 100%;
  object-fit: contain;
  height: 100%;
}

/*! WRAPPERI */
/*? WRAPPERI */
/** WRAPPERI */
.hero-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  height: 100%;
  max-width: 1440px;
  align-self: center;
}

.all-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  max-width: 100%;
  /* width: 100%; */
}

.variables-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--clr2);
  text-align: center;
  flex: 1;
  justify-content: space-between;
  overflow: auto;
}

/*! INPUTI */
/*? INPUTI */
/** INPUTI */
input {
  border: 0.2em solid var(--clr1);
  background-color: var(--clr3);
  text-align: center;
  padding: 0.5em;
  width: 90%;
  height: 2rem;
  border-radius: 10px;
  outline: 0;
  margin: 0.5rem 0.25rem;
  color: var(--clr1);
}

input:focus {
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  background-color: var(--clr1);
  border: 0.2em solid #d0ff00;
  box-shadow: 0 0 0.5em var(--clr1);
  outline: 0;
  color: var(--clr2);
}

input::-webkit-input-placeholder {
  color: var(--clr1);
}
input::-moz-placeholder {
  color: var(--clr1);
}
input:-ms-input-placeholder {
  color: var(--clr1);
}
input:-moz-placeholder {
  color: var(--clr1);
}

input[type='file'] {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

input[type='file']::-webkit-file-upload-button {
  background-color: var(--clr3);
  color: var(--clr1);
  padding: 0.5em 1em;
  border: 0.2em solid var(--clr1);
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

input[type='file']::-webkit-file-upload-button:hover {
  background-color: var(--clr-primary);
}

input[type='file']::-webkit-file-upload-button:active {
  background-color: var(--clr-secondary);
}

/*! LABEL */
/*? LABEL */
/** LABEL */
label {
  color: var(--clr1);
}

/*! BUTTON */
/*? BUTTON */
/** BUTTON */
button {
  box-sizing: border-box;
  margin: 1rem 0.25rem;
  padding: 0.5rem 1rem;
  color: var(--clr1);
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--clr2);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  text-decoration: none #0d172a solid;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  border-radius: 10px;
  user-select: none; /*ne znam za sta je ovo*/
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  /* width: 200px; */
}

/*! SELECT */
/*? SELECT */
/** SELECT */
select {
  text-align: center;
  width: 90%;
  box-sizing: border-box;
  margin: 1rem 0.25rem;
  color: var(--clr1);
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0.5rem 1rem;
  background-color: var(--clr2);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-decoration: none #0d172a solid;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

select:hover {
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  background-color: var(--clr1);
  color: var(--clr2);
  box-shadow: 0 0 0 0.15rem #5ceace;
}

button:hover {
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  background-color: var(--clr1);
  color: var(--clr2);
  box-shadow: 0 0 0 0.15rem #5ceace;
}

/*! NAVIGATION */
/*? NAVIGATION */
/** NAVIGATION */

nav {
  display: flex;
  align-content: center;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--clr1);
  align-items: center;
  padding: 1rem 2rem;
  /* background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%); */
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0rem 1rem;
}

nav .logo {
  font-weight: 700;
  letter-spacing: 0.5rem;
}

nav .logo:hover {
  opacity: 0.5;
}

.material-icons {
  color: var(--clr2);
}

.material-icons:hover {
  opacity: 0.5;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  position: relative;
  margin-right: 1rem;
}

li > a:after {
  content: " »";
}
li > a:only-child:after {
  content: "";
}
nav ul li a {
  padding: 0.5rem;
  text-decoration: none;
}

nav ul li a:hover {
  opacity: 0.5;
}

nav ul li ul {
  text-align: center;
  display: none;
  position: absolute;
  left: 0;
  background: var(--clr1);
  float: left;
  z-index: 2;
}

nav ul li ul li {
  margin: 10%; /*! bilo je 0.5 rem */
  border-bottom: 1px solid var(--clr2);
}

nav ul li:hover ul {
  display: block;
  width: 150px;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: var(--clr2);
}

nav #toggle,
nav label {
  display: none;
}

/*! FOOTER */
/*? FOOTER */
/** FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: auto; */
  width: 100%;
  background-color: var(--clr1);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
}

.footer-wrapper {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem 0rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

.navigations {
  display: contents; /*! nisam siguran da kontam šta ovo radi */
}

.navigation {
  padding: 0.2rem 1rem;
}

.navigation h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--clr3);
  font-size: 1rem;
  cursor: default;
}

.navigation ul {
  margin: 0.2rem;
  line-height: 1.2;
  font-size: 14px;
}

.navigation li {
  list-style: none;
  cursor: pointer;
}

.footer li:hover {
  color: var(--clr3);
}

.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.footer-wrapper .icon {
  display: flex;
  position: relative;
  background-color: var(--clr2);
  border-radius: 50%;
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: var(--clr1);
  text-decoration: none;
}

.footer-wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.footer-wrapper .icon:hover span,
.footer-wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footer-wrapper .facebook:hover,
.footer-wrapper .facebook:hover .tooltip,
.footer-wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.footer-wrapper .twitter:hover,
.footer-wrapper .twitter:hover .tooltip,
.footer-wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.footer-wrapper .instagram:hover,
.footer-wrapper .instagram:hover .tooltip,
.footer-wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.footer-wrapper .github:hover,
.footer-wrapper .github:hover .tooltip,
.footer-wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.footer-wrapper .youtube:hover,
.footer-wrapper .youtube:hover .tooltip,
.footer-wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/*! COPY-RIGHT */
/*? COPY-RIGHT */
/** COPY-RIGHT */
.copy-right {
  width: 100%;
  text-align: center;
  padding: 0.2rem;
  color: var(--clr3);
  cursor: default;
  font-size: 0.75rem;
}

.copy-right a {
  text-decoration: none;
  color: var(--clr2);
  padding: 0.1rem;
}

.copy-right:before {
  content: "";
  display: block;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
  width: 100%;
  margin: 0 auto;
}

.copy-right-link:hover {
  color: var(--clr3);
}

/*! CONTACT */
/*? CONTACT */
/** CONTACT */
#contact {
  display: flex;
  align-items: center;
}

#contact a {
  text-decoration: none;
  color: var(--clr2);
  padding: 0.1rem;
}

#contact a:hover {
  color: var(--clr3);
}

/*! MEDI FOR NAVIGATION MENU */
/*? MEDI FOR NAVIGATION MENU */
/** MEDI FOR NAVIGATION MENU */
@media (max-width: 62.5rem) {
  nav .menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }

  nav #toggle:checked ~ .menu {
    height: 100dvh;
  }

  nav ul li ul {
    display: none;
    position: relative;
    text-align: center;
    left: 0;
    background: var(--clr1);
    float: none;
    z-index: 2;
  }
}

/*! MEDIA FOR FOOTER ELEMENTS */
/*? MEDIA FOR FOOTER ELEMENTS */
/** MEDIA FOR FOOTER ELEMENTS */
@media only screen and (max-width: 858px) {
  .navigations {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .icon-wrapper {
    width: 100%;
  }
}

/*! FORMS FOR CONTACT*/
/*? FORMS FOR CONTACT*/
/** FORMS FOR CONTACT*/
form{
  margin: 3rem;
}
/* Style the form container */
.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Style the form wrapper */
.form-wrapper {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  max-width: 500px;
  width: 90%;
  box-sizing: border-box;
}

/* Style the form labels */
.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form {
  width: 90%;
  max-width: 700px;
}
/* Style the form inputs */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
  display: block;
  height: auto;
  margin: 0;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
  border-radius: 10px;
  box-sizing: border-box;
}

textarea{
min-height: 300px;
}

/* Style the form button */
.form-container button[type="submit"] {
  width: 40%;
  background-color: var(--clr1);
  color: var(--clr2);
  padding: 10px 20px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: var(--clr2);
  color: var(--clr1);
}

/* Style the close button */
.close-btn {
  width: 40%;
  background-color: var(--clr1);
  color: var(--clr2);
  padding: 10px 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: var(--clr1);
  background-color: var(--clr2);
}

.wrapper-sendmail {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-name,
  .wrapper-email {
    flex: 1;
  }

.button-form-container {
  display: flex;
  justify-content: space-around;
  color: var(--clr1);
}

#message::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: var(--clr2);
  text-align: center;
}

/*! VARIABLES */
/*? VARIABLES */
/** VARIABLES */
.variables {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.variables div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.1rem;
  text-align: center;
  width: 33.33%;
}

.variables label {
  display: block;
}

.variables input[type="color"] {
  padding: 0;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: 0.2em solid var(--clr1);
}

input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: 0.2em solid var(--clr1);
}

/*! DODAVANJE POJEDINAČNIH 10x10 */
/*? DODAVANJE POJEDINAČNIH 10x10 */
/** DODAVANJE POJEDINAČNIH 10x10 */
.grp_add10x10 {    
  display: flex;
  margin: 1rem 0.25rem;
  align-items: center;
  justify-content: center;
  width: 90%;
  align-self: center;
}
/* signle 10x10 UTM input */
.add10x10 {
  margin: 0;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* signle 10x10 UTM button */
.btn10x10 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 0;
  margin: 0;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*! DEO GDE TI PIŠE ŠTA SI SELEKTOVAO */
/*? DEO GDE TI PIŠE ŠTA SI SELEKTOVAO */
/** DEO GDE TI PIŠE ŠTA SI SELEKTOVAO */
.selectedText {
  display: flex;
  width: 90%;
  margin-top: 1rem;
  padding: 2rem 1rem;
  background-color: var(--clr1);
  color: var(--clr2);
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
}

/*! DEO GDE BIRAŠ SVE/TAXON/ROD */
/*? DEO GDE BIRAŠ SVE/TAXON/ROD */
/** DEO GDE BIRAŠ SVE/TAXON/ROD */
.dataToShow {
  display: flex; /** Dodao si naknadno proveri da li mora ovoga da bude*/
  flex-direction: column; /** Dodao si naknadno proveri da li mora ovoga da bude*/
  align-items: center; /** Dodao si naknadno proveri da li mora ovoga da bude*/
  margin: 1rem 0.25rem
}

/*! OPCIJE IZGLEDA 10x10 UNOSA */
/*? OPCIJE IZGLEDA 10x10 UNOSA */
/** OPCIJE IZGLEDA 10x10 UNOSA */
.product {
  position: absolute;
  height: 1.7%;
  width: 1.9%;
  border-radius: 3rem;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  transform: translate(-50%, -50%);
  border-width: var(--sirinaBordera);
  border-style: var(--stilBordera);
  border-color: var(--colorF);
  background-color: var(--colorL);
}

.triangle {
  width: 0;
  height: 0;
  border: 4.16px solid transparent;
  border-top: 0;
  border-bottom: 8.25px solid red;
  border-bottom-color: var(--colorF);
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  background-color: var(--colorL);
  transform: translate(-50%, -50%);
}

.star {
  position: absolute;
  display: block;
  color: var(--colorF);
  width: 0px;
  height: 0px;
  border-right: var(--half-size) solid transparent;
  border-bottom: calc(var(--half-size) * 0.7) solid var(--colorF);
  border-left: var(--half-size) solid transparent;
  transform: rotate(35deg);
  box-sizing: border-box;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  transform: translate(-50%, -50%);
}
.star:before {
  border-bottom: calc(var(--half-size) * 0.8) solid var(--colorF);
  border-left: calc(var(--half-size) * 0.3) solid transparent;
  border-right: calc(var(--half-size) * 0.3) solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: calc(var(--half-size) * 0.45 * -1);
  left: calc(var(--half-size) * 0.65 * -1);
  display: block;
  transform: rotate(-35deg);
  content: "";
}
.star:after {
  position: absolute;
  display: block;
  color: var(--colorF);
  top: calc(var(--half-size) * 0.03);
  left: calc(var(--half-size) * -1.05);
  width: 0px;
  height: 0px;
  border-right: var(--half-size) solid transparent;
  border-bottom: calc(var(--half-size) * 0.7) solid var(--colorF);
  border-left: var(--half-size) solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.TiL {
  height: 1.7%;
  width: 1.9%;
  background: linear-gradient(
    -45deg,
    var(--colorF),
    var(--colorF) 49%,
    white 49%,
    var(--colorL) 51%
  );
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  border-color: var(--colorF);
  background-color: var(--colorL);
  transform: translate(-50%, -50%);
}
.LiH {
  height: 1.7%;
  width: 1.9%;
  background: linear-gradient(
    180deg,
    var(--colorH),
    var(--colorH) 49%,
    white 49%,
    var(--colorL) 51%
  );
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  border-color: var(--colorH);
  background-color: var(--colorL);
  transform: translate(-50%, -50%);
}
.TiH {
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  height: 1.7%;
  width: 1.9%;
  border-radius: 3rem;
  background: conic-gradient(var(--colorF) 50%, var(--colorH) 0 180%);
  transform: translate(-50%, -50%);
}
.TiLiH {
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  height: 1.7%;
  width: 1.9%;
  border-radius: 3rem;
  background: conic-gradient(
    var(--colorF) 33%,
    var(--colorH) 0 66%,
    var(--colorL) 0
  );
  transform: translate(-50%, -50%);
}

.netacanCrta {
  clip-path: polygon(0 40%, 0 60%, 100% 60%, 100% 40%);
  box-sizing: border-box;
  height: 1.7%;
  width: 1.9%;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  background: black;
  transform: translate(-50%, -50%);
}

.T {
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  height: 1.7%;
  width: 1.9%;
  border-radius: 3rem;
  background-color: var(--colorF);
  transform: translate(-50%, -50%);
}
.L {
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  height: 1.7%;
  width: 1.9%;
  border-radius: 3rem;
  background-color: var(--colorL);
  transform: translate(-50%, -50%);
}

.H {
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  height: 1.7%;
  width: 1.9%;
  border-radius: 3rem;
  background-color: var(--colorH);
  transform: translate(-50%, -50%);
}

.netacan {
  clip-path: polygon(0 40%, 0 60%, 100% 60%, 100% 40%);
  box-sizing: border-box;
  height: 1.7%;
  width: 1.9%;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  background: black;
  transform: translate(-50%, -50%);
}

.netacanX {
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  box-sizing: border-box;
  height: 1.7%;
  width: 1.9%;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  background: var(--colorF);
  transform: translate(-50%, -50%);
}

.zvezda {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  box-sizing: border-box;
  height: 1.7%;
  width: 1.9%;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  background: var(--colorF);
  transform: translate(-50%, -50%);
}

.sumnjiv {
  display: block;
  background: #4444ff;
  color: #fff;
  border-radius: 50%;
  height: 2.7%;
  width: 2.9%;
  position: absolute;
  top: calc(calc(00 * -1.918%) + calc(100% - 37.8%) + calc(-20 * -1.91%));
  left: calc(calc(00 * 2.44%) + calc(8.4% + 49.5%) + calc(-20 * 2.44%));
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-family: Verdana;
  content: "";
  background: url("https://api.iconify.design/eva/question-mark-circle-outline.svg")
    no-repeat center center / contain;
  transform: translate(-50%, -50%);
}